<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>L'écriture</title>
</head>
<body>
    <img src="/ecriture.jpg">
    <h1>C'est à peut près à cette époque que l'ecriture a été inventé</h1>
    <h3>Sa fé 5000 ans que l'ecriture existe et on é toujours pas foutu de bien écrire le françé</h3>
    <p><a href="/">C'est illisible, je m'en vais</a></p>
</body>
</html>