<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guerre de 100 ans</title>
</head>
<body>
    <img src="/100ans.jpg">
    <h1>Par ici, on a une representation de la guerre de 100 ans qui a pas durée 100 ans mais 116 ans</h1>
    <h3>C'est par ici qu'est née la phrase populaire : "Jeanne, au secours !"</h3>
    <p><a href="/">C'est pas bien la guerre, je reviens en arrière</a></p>
</body>
</html>