<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christophe Colomb</title>
</head>
<body>
    <img src="/christophe.jpg">
    <h1>Ici, on a la tronche de notre poto Christophe quand il a découvert l'Amerique</h1>
    <h3>Pour ma part, sur ma table j'ai découvert en inox</h3>
    <p><a href="/">Blague pas marrante, je reviens en arrière</a></p>
</body>
</html>