<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voyage dans le temps</title>
</head>
<body>
    <img src="/index.jpg">
    <h1>Bienvenue sur le site du voyage dans le temps, où tu vas dire "whaaaaaa c'est trop beau, on dirait le futuroscope"</h1>
    <h3><a href="/an-3450.html"> Voyage en l'an -3450</a></h3>
    <h3><a href="/an40.html"> Voyage en l'an 40</a></h3>
    <h3><a href="/an1453.html"> Voyage en l'an 1453</a></h3>
    <h3><a href="/an1492.html"> Voyage en l'an 1492</a></h3>
    <h3><a href="https://www.youtube.com/watch?v=EpX1_YJPGAY"> Voyage en l'an 3000</a></h3>
</body>
</html>